<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Committee Tasks</h1>
</div>
<hr>

<div class="container-fluid">
<script type="text/ng-template" id="items_renderer.html">
  <label>
      
      <span class="clear" style="margin-left:40px; margin-top:15px; margin-bottom:15px" ng-show="!item.editing">{{item.name}}</span>
                <form class="form-horizontal" action="" ng-submit="doneEditing(item)" ng-show="item.editing" data-nodrag>
                  <div class="form-group">
                    <div class="col-lg-4 col-xs-5">
                      <input style="margin-top:10px" type="text" class="form-control no-validate" ng-model="item.name" placeholder="Committee Name...">
                    </div>
                    <div class="col-lg-4 col-xs-4">
                      <div class="form-group">
                          <input style="margin-top:10px" type="text" class="form-control no-validate" ng-model="item.description" placeholder="Committee Description...">
                </div>
                    </div>
              <div class="col-lg-2 col-xs-3">
                        
                        <input style="margin-top:10px" type="submit" class="btn btn-primary btn-sm clear" value="Save" />
                        <input style="margin-top:10px" ng-click="cancelEdit(item)" class="btn btn-primary btn-sm clear" value="Cancel" />
                      </div>
                  </div>
                </form>
  </label>
  <div class="options todooptions pull-right">
      <div class="btn-group" ng-show="!item.editing" style="margin-top:15px">
          
          <button data-nodrag class="btn btn-default btn-xs" ng-click="viewCommittee(item)"><i class="fa fa-fw fa-check"></i></button>
          <button data-nodrag class="btn btn-default btn-xs" ng-click="edit(item)"><i class="fa fa-fw fa-pencil"></i></button>
          <button data-nodrag class="btn btn-default btn-xs" ng-click="removeCommittee(item)"><i class="fa fa-fw fa-trash-o"></i></button>
      </div>
  </div>
</script>

  <div class="row">
    <div class="col-xs-12">

      <tabset panel-tabs="true" panel-class="panel-sky">
        <panel-controls class="pull-right">
          <button class="btn btn-primary btn-sm" ng-click="showForm=true;showTasksTab=true;showCompletedTab=false" style="margin-top: -5px;">Add Task</button>
        </panel-controls>
        <tab active="showTasksTab">
          <tab-heading><i class="fa fa-tasks"></i> To-do <span class="badge badge-primary">{{tasks.length}}</span></tab-heading>
                  <div>


                  	<form ng-submit="addCommittee(committee)">

                  		<input ng-model="committee.name" placeholder="Committee Name">
                  		<input ng-model="committee.description" placeholder="Description">
                  		<input type="submit" value="Add Committee">

                  	</form>
                  </div>
                  <div ui-tree="options" class="tasklist">
                    <ol ui-tree-nodes ng-model="committees" class="panel-tasks">
                      <li
                        ui-tree-node
                        ui-tree-handle
                        class="list-group-item"
                        ng-repeat="item in committees"
                        ng-include="'items_renderer.html'"
                      ></li>
                    </ol>
                  </div>
        </tab>
      </tabset>
    </div>
  </div>
</div> <!-- container -->

<!-- <div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Committee</h1>
</div>
<div class="wrapper b-b bg">
    <button class="btn btn-sm btn-default pull-right visible-sm visible-xs" ui-toggle-class="show" target="#email-menu"><i class="fa fa-bars"></i></button>
    <a ui-sref="secure.newtask" class="btn btn-sm btn-danger w-xs font-bold">Create Task</a>
</div>
<div class="wrapper-md">
  <div class="row">
    <div class="col-sm-11">
      <div>
        <ul ui-jq="sortable" class="list-group gutter list-group-lg list-group-sp">
          <li ng-repeat="task in tasks" class="list-group-item bg-primary">
            <span class="pull-right">
              <a ui-sref="secure.task({taskId: task.$id})"><i class="fa fa-pencil fa-fw m-r-xs"></i></a>
            </span>
            <span class="pull-left"><i class="fa fa-sort text-muted fa m-r-sm"></i> </span>
            <div class="clear">
              <a href>{{task.title}}</a>
            </div>
          </li>
        </ul>                  
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="wrapper-md">
  <div class="row">
    <div class="col-sm-10" data-ng-controller="taskCtrl">
      <section class="task-container">
                
                <section>
                    <ul class="filters list-inline nav nav-tabs">
                        <li data-ng-class="{active: statusFilter == ''}">
                            <a href="" 
                               data-toggle="tab"
                               data-ng-click="filter('all')"
                               >All</a>
                        </li>
                        <li data-ng-class="{active: statusFilter.completed == false }">
                            <a href=""
                               data-toggle="tab"
                               data-ng-click="filter('active')"
                               >Active</a>
                        </li>
                        <li data-ng-class="{active: statusFilter.completed == true }">
                            <a href=""
                               data-toggle="tab"
                               data-ng-click="filter('completed')"
                               >Completed</a>
                        </li>
                    </ul>
                </section>
               
                <section class="col-md-11">
                    <ul ui-jq="sortable" class="task-list list-unstyled">
                        <li data-ng-repeat="task in tasks | filter:statusFilter track by $index" 
                            data-ng-class="{completed: task.completed, editing: task == editedTask}">
                            <span class="view">
                                <input type="checkbox"
                                       class="toggle-task"
                                       data-ng-model="task.completed"
                                       data-ng-change="completed(task)">
                                <label data-ng-dblclick="edit(task)">{{task.title}}</label>
                              
                                <span class="glyphicon glyphicon-pencil"
                                      data-ng-click="edit(task)"></span>
                                <span class="glyphicon glyphicon-remove"
                                      data-ng-click="remove(task, $index)"
                                      ></span>
                            </span>
                            <form data-ng-submit="doneEditing(task, $index)">
                                <input type="text"
                                       class="edit form-control"
                                       data-ng-trim="false"
                                       data-ng-model="task.title"
                                       data-ng-blur="doneEditing(task, $index)"
                                       data-task-focus="task == editedTask">
                            </form>
                        </li>
                    </ul>
                </section>

                <footer class="task-footer">
                    <ul class="list-inline clearfix">
                        <li class="first-item">
                            <input type="checkbox"
                                   id="toggle-all"
                                   data-ng-model="allChecked"
                                   data-ng-change="markAll(allChecked)">
                            <label for="toggle-all">Mark all as done</label>
                        </li>
                        <li class="text-center">
                            <span>
                                <strong>{{remainingCount}}</strong>
                                <span class="text-muted"
                                      data-ng-pluralize count="remainingCount"
                                      when="{one: 'item left', other: 'items left'}"></span>
                            </span>                            
                        </li>
                        <li class="text-right">
                            <span class="clear-completed"
                                  data-ng-click="clearCompleted()"
                                  data-ng-show="remainingCount < tasks.length">Clear completed ({{tasks.length - remainingCount}})</span>                            
                        </li>
                    </ul>
                </footer>
        </section>
    </div>
  </div>
</div> -->