
<div class="hbox hbox-auto-xs hbox-auto-sm">
  <!-- main -->
  <div class="col">
    <!-- main header -->
    <div class="bg-light lter b-b wrapper-md">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <h1 class="m-n font-thin h3 text-black">Dashboard</h1>
          <small class="text-muted">Welcome to the Global Bridges Rotary Club</small>
        </div>
    
      </div>
    </div>
    <!-- / main header -->

    <div class="wrapper-md">
      <div class="row">
          <div class="col-sm-6">
            <div class="panel panel-default">
              <div class="panel-heading">                    
                <a href class="font-bold">Club News</a>
              </div>
              <div class="panel-body" ui-jq="slimScroll" ui-options="{height:'250px', size:'8px'}">
                <div class="media">
                  <span class="pull-left thumb-sm"><img src="img/a2.jpg" alt="..."></span>
                  <div class="media-body">
                    <div class="pull-right text-center text-muted">
                      <strong class="h4">12:18</strong><br>
                      <small class="label bg-light">pm</small>
                    </div>
                    <a href class="h4">Bootstrap 3 released</a>
                    <small class="block"><a href class="">John Smith</a> <span class="label label-success">Circle</span></small>
                    <small class="block m-t-sm">Sleek, intuitive, and powerful mobile-first front-end framework for faster and easier web development.</small>
                  </div>
                </div>
                <div class="line pull-in"></div>
                <div class="media">
                  <span class="pull-left thumb-sm"><i class="fa fa-file-o fa-3x text-muted"></i></span>                
                  <div class="media-body">
                    <div class="pull-right text-center text-muted">
                      <strong class="h4">17</strong><br>
                      <small class="label bg-light">feb</small>
                    </div>
                    <a href class="h4">Bootstrap documents</a>
                    <small class="block"><a href>John Smith</a> <span class="label label-info">Friends</span></small>
                    <small class="block m-t-sm">There are a few easy ways to quickly get started with Bootstrap, each one appealing to a different skill level and use case. Read through to see what suits your particular needs.</small>
                  </div>
                </div>
                <div class="line pull-in"></div>
                <div class="media">
                  <div class="media-body">
                    <div class="pull-right text-center text-muted">
                      <strong class="h4">09</strong><br>
                      <small class="label bg-light">jan</small>
                    </div>
                    <a href class="h4 text-success">Mobile first html/css framework</a>
                    <small class="block m-t-sm">Bootstrap, Ratchet</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="panel panel-default">
              <div class="panel-heading b-b b-light">
                <span class="badge bg-warning pull-right">10</span>
                <a href class="font-bold">President's Messages</a>
              </div>
              <ul class="list-group list-group-lg no-bg auto">
                <li class="list-group-item clearfix">
                  <span class="pull-left thumb-sm avatar m-r">
                    <img src="img/a4.jpg" alt="...">
                    <i class="on b-white bottom"></i>
                  </span>
                  <span class="clear">
                    <span>Chris Fox</span>
                    <small class="text-muted clear text-ellipsis">What's up, buddy</small>
                  </span>
                </li>
                <li class="list-group-item clearfix">
                  <span class="pull-left thumb-sm avatar m-r">
                    <img src="img/a5.jpg" alt="...">
                    <i class="on b-white bottom"></i>
                  </span>
                  <span class="clear">
                    <span>Amanda Conlan</span>
                    <small class="text-muted clear text-ellipsis">Come online and we need talk about the plans that we have discussed</small>
                  </span>
                </li>
                <li class="list-group-item clearfix">
                  <span class="pull-left thumb-sm avatar m-r">
                    <img src="img/a6.jpg" alt="...">
                    <i class="busy b-white bottom"></i>
                  </span>
                  <span class="clear">
                    <span>Dan Doorack</span>
                    <small class="text-muted clear text-ellipsis">Hey, Some good news</small>
                  </span>
                </li>
                <li class="list-group-item clearfix">
                  <span class="pull-left thumb-sm avatar m-r">
                    <img src="img/a7.jpg" alt="...">
                    <i class="away b-white bottom"></i>
                  </span>
                  <span class="clear">
                    <span>Lauren Taylor</span>
                    <small class="text-muted clear text-ellipsis">Nice to talk with you.</small>
                  </span>
                </li>
              </ul>
              <div class="clearfix panel-footer">
                <div class="input-group">
                  <input type="text" class="form-control input-sm btn-rounded" placeholder="Search">
                  <span class="input-group-btn">
                    <button type="submit" class="btn btn-default btn-sm btn-rounded"><i class="fa fa-search"></i></button>
                  </span>
                </div>
              </div>
            </div>       
          </div>
        </div>
      <div class="panel panel-default" data-ng-controller="taskCtrl">
        <div class="row">
            <div class="col-md-12 no-border-xs">
              <div class="panel-heading b-b b-light">
                <a href class="text-muted pull-right text-lg"><i class="icon-arrow-right"></i></a>
                <a href class="font-bold">My Tasks</a>
              </div>
                <section class="task-container">
                        <!-- This is the "What needs to be done" input -->
                          
                          <!-- End "What needs to be done" -->
                          <!-- These are the tabs -->
                          <section>
                              <ul class="filters list-inline nav nav-tabs">
                                  <li data-ng-class="{active: statusFilter == ''}">
                                      <a href="" 
                                         data-toggle="tab"
                                         data-ng-click="filter('all')"
                                         >All</a>
                                  </li>
                                  <li data-ng-class="{active: statusFilter.completed == false }">
                                      <a href=""
                                         data-toggle="tab"
                                         data-ng-click="filter('active')"
                                         >Active</a>
                                  </li>
                                  <li data-ng-class="{active: statusFilter.completed == true }">
                                      <a href=""
                                         data-toggle="tab"
                                         data-ng-click="filter('completed')"
                                         >Completed</a>
                                  </li>
                              </ul>
                          </section>
                          <!-- End Tabs -->
                          <section class="col-md-11">
                              <ul class="task-list list-unstyled">
                                  <li data-ng-repeat="task in tasks | filter:statusFilter track by $index" 
                                      data-ng-class="{completed: task.completed, editing: task == editedTask}">
                                      <span class="view">
                                          <input type="checkbox"
                                                 class="toggle-task"
                                                 data-ng-model="task.completed"
                                                 data-ng-change="completed(task)">
                                          <label data-ng-dblclick="edit(task)">{{task.title}}</label>
                                          <span class="glyphicon glyphicon-pencil"
                                                data-ng-click="edit(task)"></span>
                                          <span class="glyphicon glyphicon-remove"
                                                data-ng-click="remove(task, $index)"
                                                ></span>
                                      </span>
                                      <form data-ng-submit="doneEditing(task, $index)">
                                          <input type="text"
                                                 class="edit form-control"
                                                 data-ng-trim="false"
                                                 data-ng-model="task.title"
                                                 data-ng-blur="doneEditing(task, $index)"
                                                 data-task-focus="task == editedTask">
                                      </form>
                                  </li>
                              </ul>
                          </section>
                  </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- / main -->
  <!-- right col -->
  <div class="col w-md bg-white-only b-l bg-auto bg-auto-right no-border-xs">
    <tabset class="nav-tabs-alt" justified="true">
      <tab>
        <tab-heading>
          <i class="glyphicon glyphicon-user text-md text-muted wrapper-sm"></i>
        </tab-heading>
        <div class="wrapper-md">
          <div class="m-b-sm text-md">Who's New</div>
          <ul class="list-group no-bg no-borders pull-in">
            <li class="list-group-item">
              <a herf class="pull-left thumb-sm avatar m-r">
                <img src="img/a4.jpg" alt="..." class="img-circle">
                <i class="on b-white bottom"></i>
              </a>
              <div class="clear">
                <div><a href>Chris Park</a></div>
                <small class="text-muted">Designer</small>
              </div>
            </li>
            <li class="list-group-item">
              <a herf class="pull-left thumb-sm avatar m-r">
                <img src="img/a5.jpg" alt="..." class="img-circle">
                <i class="on b-white bottom"></i>
              </a>
              <div class="clear">
                <div><a href>Chris Park</a></div>
                <small class="text-muted">Writer</small>
              </div>
            </li>
            <li class="list-group-item">
              <a herf class="pull-left thumb-sm avatar m-r">
                <img src="img/a6.jpg" alt="..." class="img-circle">
                <i class="busy b-white bottom"></i>
              </a>
              <div class="clear">
                <div><a href>John Park</a></div>
                <small class="text-muted">Lawyer</small>
              </div>
            </li>
          </ul>
          <div class="text-center">
            <a href class="btn btn-sm btn-primary padder-md m-b">More Connections</a>
          </div>
        </div>
      </tab>     
    </tabset>
  </div>
</div>
  <!-- / right col -->
