<!-- <div id="pageloader">
	<div class="loader-img">
		<img alt="loader" src="img/loader.gif" /> </div>
</div> -->
<!-- ======================================== -->
<!-- ============ START TOP STICKY MENU ========== -->
<!-- ======================================== -->

<div id="home">
<nav class="navbar navbar-default navbar-fixed-top" role="navigation" data-scroll-header>

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-menu">
      <i class="fa fa-bars fa-fw"></i>
      </button>
      <a class="navbar-brand" data-scroll href="#home" class="weight-700">ROTARY</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="main-menu">
      <ul class="nav navbar-nav navbar-right">
		<li><a data-scroll href="#about">WHO WE ARE</a></li>
		<!-- <li><a data-scroll href="#team">FAQ</a></li> -->
		<li><a data-scroll ui-sref="login">LOGIN</a></li>
		<li><a data-scroll ui-sref="register">APPLY NOW</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
</nav>

<!-- ======================================== -->
<!-- ============ END TOP STICKY MENU =========== -->
<!-- ======================================== -->
<!-- ======================================== -->
<!-- =============== END TOP MENU ============== -->
<!-- ======================================== -->
<!-- ======================================== -->
<!-- ============ START HOME SECTION ============ -->
<!-- ======================================== -->

<section>
  <div id="home" class="home-parallax">
      <div class="home-text-wrapper">
      
          <div class="home-logo-text">
          	<div class="row">
              <div class="col-md-12 text-center">
                <h1 class="color-white weight-500">
                <strong class="color-primary">Welcome to the</strong></h1>
              </div>
            </div>
            <a href="#about" class="title">GLOBAL BRIDGES</a>
            <div class="row">
              <div class="col-md-12 text-center">
                <h1 class="color-white weight-500">
                <strong class="color-primary">Rotary Club</strong></h1>
              </div>
            </div>
          </div>
          <div class="container clearfix">
          	
            <div class="row">
              <div class="col-md-12 text-center">
                <h2 class="color-white weight-500">A whole
                <strong class="color-primary">new</strong> kind of club for <strong class="color-primary">you.</strong></h2>
              </div>
            </div>
           </div>  
      </div><!-- END HOME TEXT WRAPPER -->
  </div><!-- END HOME SECTION -->
</section>
<!-- ======================================= -->
<!-- ========== START REVOLUTION SLIDER ========== -->
<!-- ======================================== -->
<!-- <div class="tp-banner-container">
	<div class="tp-banner">
		<div class="tp-caption img-overlay3" data-start="0" style="background-color: rgba(47,54,64,0.5)" data-transition="fade"></div>
		<img src="img/subway.jpg" alt="slidebg1"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat"> -->

		<!-- <ul> -->
                  	
                 		<!-- THE FIRST SLIDE -->
                 		<!-- <li data-transition="fade" data-slotamount="5" data-masterspeed="800" > -->
                     		<!-- THE MAIN IMAGE IN THE FIRST SLIDE -->
							<!-- <div class="tp-caption img-overlay3" data-start="0" style="background-color: rgba(47,54,64,0.5)" data-transition="fade"></div>
							<img src="img/subway.jpg" alt="slidebg1"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat"> -->
                        	
                    		<!-- LAYER NR. 1 -->    
                        <!-- <div class="tp-caption thin-white sft" 
			data-easing="Back.easeInOut" 
			data-endspeed="300" 
			data-hoffset="0"
			data-voffset="0" 
			data-speed="1000" 
			data-start="1000" 
			data-x="center" 
			data-y="160">
			Welcome to the</div> -->
                        
                        	<!-- LAYER NR. 2 -->
                         <!-- <div class="tp-caption super-bold-white sfl" 
			data-easing="Back.easeInOut" 
			data-endspeed="300" 
			data-hoffset="0"
			data-voffset="0" 
			data-speed="1000" 
			data-start="1750" 
			data-x="center" 
			data-y="center">
			GLOBAL BRIDGES</div>
						<div class="tp-caption thin-white sft text-center" 
			data-easing="Back.easeInOut" 
			data-endspeed="300" 
			data-hoffset="0"
			data-voffset="0" 
			data-speed="1000" 
			data-start="1750" 
			data-x="center" 
			data-y="350"><br>
			Rotary Club</div> -->
							
								<!-- LAYER NR. 3 -->    
                        <!-- <div class="tp-caption thin-white-small sfb" 
			data-easing="Back.easeInOut" 
			data-endspeed="300" 
			data-hoffset="0"
			data-voffset="0" 
			data-speed="1000" 
			data-start="3000" 
			data-x="center" 
			data-y="480">
			A whole new kind of club for you</div> -->
			
				<!-- LAYER NR. 4 -->    
           <!--              <div class="tp-caption fadein" 
			data-easing="Back.easeInOut" 
			data-endspeed="300" 
			data-hoffset="0"
			data-voffset="0" 
			data-speed="1000" 
			data-start="4000" 
			data-x="center" 
			data-y="530">
			<a class="btn btn-outline btn-primary btn-lg btn-round"  data-scroll  href="#register">
		Apply Now <i class="fa fa-chevron-right"></i></a></div>
			
                            
                  	</li>
     	</ul> -->
<!-- ======================================= -->
<!-- ========== END REVOLUTION SLIDER ========== -->
<!-- ======================================== -->
<!-- ======================================= -->
<!-- ========== START MISSION STATEMENT ========== -->
<!-- ======================================== -->

<!-- ======================================= -->
<!-- ========== END MISSION STATEMENT ========== -->
<!-- ======================================== -->
<!-- ======================================== -->
<!-- ============= END HOME SECTION ============ -->
<!-- ======================================== -->
<!-- ======================================== -->
<!-- ============ START ABOUT SECTION =========== -->
<!-- ======================================== -->
<section id="about">
<div class="fullwidth-section bg-primary-dark">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h1 class="color-white weight-300">
				<strong class="color-primary">SERVICE</strong> ABOVE SELF</h1>
			</div>
		</div>
	</div>
</div>
<div class="fullwidth-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h1 class="weight-300" style="margin-bottom: 40px">Why Join <strong class="color-primary">This</strong> Club?</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 text-center">
				<div class="cre-animate" data-animation="slide-up-from-bottom" data-delay="250" data-easing="easeInOutBack" data-offset="80%" data-speed="750">
					<div class="icon-feature-3column">
						<i class="im-users color-primary"></i>
						<h4>Relationships</h4>
						<p>The ability to network with a cross section of leaders in business, medicine, law, and academia, who help each other, and collectively help others, while promoting lasting friendships.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 text-center">
				<div class="cre-animate" data-animation="slide-up-from-bottom" data-delay="500" data-easing="easeInOutBack" data-offset="80%" data-speed="750">
					<div class="icon-feature-3column">
						<i class="im-trophy color-primary"></i>
						<h4>Prestige</h4>
						<p>Rotary, particularly in South Korea, is composed of leaders of many businesses and professions that influence policy and help guide our community.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 text-center">
				<div class="cre-animate" data-animation="slide-up-from-bottom" data-delay="750" data-easing="easeInOutBack" data-offset="80%" data-speed="750">
					<div class="icon-feature-3column">
						<i class="im-support color-primary"></i>
						<h4>Service</h4>
						<p>Rotary is a service club that lets you make a difference as part of the world's largest family of givers. The service culture of an online club is no different, and we strive to provide the best and most impactful service opportunities for our club members.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="parallax" data-stellar-background-ratio="0.3" data-stellar-vertical-offset="0" style="background-image: url(img/korea.jpg); height: 350px">
	<div class="img-overlay1">
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
			
					<h1 style="margin-top: 100px; z-index: 20">How Does This Club Meet?</h1>
			
				
					<h2>Via Our <strong>State-of-the-Art</strong> Meeting Platform</h2>
				
			</div>
		</div>
	</div>
</div>
<!-- ============================================ -->
<!-- =============== START BLOG SECTION ============= -->
<!-- ============================================ -->
<section id="blog">
	<div class="fullwidth-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 class="weight-300" style="margin-bottom: 40px">
					<strong>Meeting</strong> Platform</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="cre-animate" data-animation="fade-in" data-delay="700" data-easing="out" data-offset="70%" data-speed="1000">
						<div class="img-thumb" style="background-image: url('img/pictures/photo.png');">
							<a href="post-sidebar.html">
							<div class="img-thumb-hover-left">
								<i class="im-redo2"></i></div>
							</a>
							<a data-pp="prettyPhoto[blog-gallery]" href="img/pictures/photo.png" title="Take a Relaxing Vacation Adventure">
							<div class="img-thumb-hover-right">
								<i class="im-expand2"></i></div>
							</a>
							<img alt="blog-image" class="filler responsive" src="img/pictures/photo.png">
						</div>
						<div class="blog-wrapper">
							<h3><a href="post-sidebar.html">Step 1</a></h3>
							<p>Current club members click the LOGIN button in the navigation bar. From there, they sign into the Global Bridges Rotary Dashboard.<br><br><br></p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="cre-animate" data-animation="fade-in" data-delay="0" data-easing="out" data-offset="70%" data-speed="1000">
						<div class="img-thumb" style="background-image: url('img/pictures/photo.png');">
							<a href="post-sidebar.html">
							<div class="img-thumb-hover-left">
								<i class="im-redo2"></i></div>
							</a>
							<a data-pp="prettyPhoto[blog-gallery]" href="img/pictures/photo.png" title="Hawaii is the Trip of a Lifetime">
							<div class="img-thumb-hover-right">
								<i class="im-expand2"></i></div>
							</a>
							<img alt="blog-image" class="filler responsive" src="img/pictures/photo.png">
						</div>
						<div class="blog-wrapper">
							<h3><a href="post-sidebar.html">Step 2</a></h3>
							<p>Inside of the Dashboard, club members can do a variety of things, from attending a weekly club meeting, to participating on a committee, to starting a discussion, all while networking and building relationships</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="cre-animate" data-animation="fade-in" data-delay="350" data-easing="out" data-offset="70%" data-speed="1000">
						<div class="img-thumb" style="background-image: url('img/pictures/photo.png');">
							<a href="post-sidebar.html">
							<div class="img-thumb-hover-left">
								<i class="im-redo2"></i></div>
							</a>
							<a data-pp="prettyPhoto[blog-gallery]" href="img/pictures/photo.png" title="The Most Amazing Beaches in the World">
							<div class="img-thumb-hover-right">
								<i class="im-expand2"></i></div>
							</a>
							<img alt="blog-image" class="filler responsive" src="img/pictures/photo.png">
						</div>
						<div class="blog-wrapper">
							<h3><a href="post-sidebar.html">Step 3</a></h3>
							<p>Click the LOGOUT button when you are ready to leave, and that's it!<br><br><br><br></p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="cre-animate" data-animation="slide-in-from-left" data-delay="0" data-easing="easeInOutBack" data-offset="90%" data-speed="1000">
						<a class="btn btn-primary btn-3d pull-right" href="blog-sidebar.html">
						Explore the Dashboard <i class="fa fa-chevron-right"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- ============================================ -->
<!-- ================ END BLOG SECTION ============= -->
<!-- ============================================ -->
<!-- ===== START QUOTES ROTATOR ===== -->
<div class="fullwidth-section bg-primary-dark">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h1 class="color-white weight-300">What our members say about 
				us</h1>
			</div>
			<div id="carousel" class="carousel slide testimonial-slider">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li class="active" data-slide-to="0" data-target="#carousel">
					</li>
					<li data-slide-to="1" data-target="#carousel"></li>
					<li data-slide-to="2" data-target="#carousel"></li>
				</ol>
				<!-- Wrapper for slides -->
				<div class="carousel-inner">
					<!-- Slide 1 -->
					<div class="item active color-white">
						<img alt="team image" class="user pull-left" src="img/pictures/photo.png"><p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						Integer ac vehicula tortor, vitae lacinia nisi. Mauris ac 
						urna in dolor mollis tincidunt. Nulla eleifend nisl non 
						viverra ornare. In cursus a urna non dapibus. In auctor 
						mattis placerat. Aliquam tincidunt dignissim ullamcorper.</p>
						<div class="source">
							- Dan Conger</div>
					</div>
					<!-- Slide 2 -->
					<div class="item color-white">
						<img alt="team image" class="user pull-left" src="img/pictures/photo.png"><p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						Integer ac vehicula tortor, vitae lacinia nisi. Mauris ac 
						urna in dolor mollis tincidunt. Nulla eleifend nisl non 
						viverra ornare. In cursus a urna non dapibus. In auctor 
						mattis placerat. Aliquam tincidunt dignissim ullamcorper.</p>
						<div class="source">
							- Dan Conger</div>
					</div>
					<!-- Slide 3 -->
					<div class="item color-white">
						<img alt="team image" class="user pull-left" src="img/pictures/photo.png"><p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						Integer ac vehicula tortor, vitae lacinia nisi. Mauris ac 
						urna in dolor mollis tincidunt. Nulla eleifend nisl non 
						viverra ornare. In cursus a urna non dapibus. In auctor 
						mattis placerat. Aliquam tincidunt dignissim ullamcorper.</p>
						<div class="source">
							- Dan Conger</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- ===== END QUOTES ROTATOR ===== -->
<div class="fullwidth-section bg-secondary-dark">
	<div class="container">
		<!-- ========== 4 Column - Icon Feature Boxes Alternative ========== -->
		<div class="row">
			<div class="col-md-12 text-center">
				<h1 class="weight-300 color-white" style="margin-bottom: 40px;">
				The Rotary <strong class="color-secondary">4-Way Test</strong></h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 text-center">
				<div class="icon-feature-4column-alt cre-animate" data-animation="slide-down-from-top" data-delay="500" data-easing="easeInOutBack" data-offset="80%" data-speed="750">
					<i class="im-thumbs-up color-white bg-secondary"></i>
					<h4 class="color-white">Is it the truth?</h4>
				</div>
			</div>
			<div class="col-md-3 text-center">
				<div class="icon-feature-4column-alt cre-animate" data-animation="slide-down-from-top" data-delay="1000" data-easing="easeInOutBack" data-offset="80%" data-speed="750">
					<i class="im-hammer2 color-white bg-secondary"></i>
					<h4 class="color-white">Is it fair to all concerned?</h4>
				</div>
			</div>
			<div class="col-md-3 text-center">
				<div class="icon-feature-4column-alt cre-animate" data-animation="slide-down-from-top" data-delay="750" data-easing="easeInOutBack" data-offset="80%" data-speed="750">
					<i class="im-contract2 color-white bg-secondary"></i>
					<h4 class="color-white">Will it build goodwill and better friendships?</h4>
				</div>
			</div>
			<div class="col-md-3 text-center">
				<div class="icon-feature-4column-alt cre-animate" data-animation="slide-down-from-top" data-delay="1250" data-easing="easeInOutBack" data-offset="80%" data-speed="750">
					<i class="im-gift color-white bg-secondary"></i>
					<h4 class="color-white">Will it be beneficial to all concerned?</h4>
				</div>
			</div>
		</div>
	</div>
</div>
</section>
<!-- ============================================ -->
<!-- ============== END ABOUT SECTION ============== -->
<!-- ============================================ -->
<!-- ============================================ -->
<!-- =============== START TEAM SECTION ============= -->
<!-- ============================================ -->
<section>
<div class="fullwidth-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h1 class="weight-300 kill-top-margin" style="margin-bottom: 60px">
				Meet the <strong class="color-secondary">presidency</strong></h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<div class="cre-animate" data-animation="scale-down" data-delay="500" data-easing="easeInOutBack" data-offset="70%" data-speed="500">
					<img alt="team image" class="img-responsive" src="img/pictures/photo.png">
				</div>
				<div class="team-info text-center">
					<h4>Dennis Conger</h4>
					<h6>President</h6>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
					sed do eiusmod tempor incididunt ut labore et magna aliqua.</p>
					<div class="social-icons">
						<i class="im-facebook"></i><i class="im-linkedin"></i><i class="im-mail2"></i>
						</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="cre-animate" data-animation="scale-down" data-delay="1000" data-easing="easeInOutBack" data-offset="70%" data-speed="500">
					<img alt="team image" class="img-responsive" src="img/pictures/photo.png"></div>
				<div class="team-info text-center">
					<h4>Jae Lee</h4>
					<h6>Past President</h6>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
					sed do eiusmod tempor incididunt ut labore et magna aliqua.</p>
					<div class="social-icons">
						<i class="im-facebook"></i><i class="im-linkedin"></i><i class="im-mail2"></i>
						</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="cre-animate" data-animation="scale-down" data-delay="1250" data-easing="easeInOutBack" data-offset="70%" data-speed="500">
					<img alt="team image" class="img-responsive" src="img/pictures/photo.png"></div>
				<div class="team-info text-center">
					<h4>Somebody</h4>
					<h6>President Elect</h6>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
					sed do eiusmod tempor incididunt ut labore et magna aliqua.</p>
					<div class="social-icons">
						<i class="im-facebook"></i><i class="im-linkedin"></i><i class="im-mail2"></i>
						</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="cre-animate" data-animation="scale-down" data-delay="750" data-easing="easeInOutBack" data-offset="70%" data-speed="500">
					<img alt="team image" class="img-responsive" src="img/pictures/photo.png"></div>
				<div class="team-info text-center">
					<h4>Somebody</h4>
					<h6>Secretary</h6>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
					sed do eiusmod tempor incididunt ut labore et magna aliqua.</p>
					<div class="social-icons">
						<i class="im-facebook"></i><i class="im-linkedin"></i><i class="im-mail2"></i>
						</div>
				</div>
			</div>
		</div>
	</div>
</div>
</section>
<!-- ============================================ -->
<!-- ================ END TEAM SECTION ============== -->
<!-- ============================================ -->
<section id="services">
<!-- FEATURES COUNTERS -->
<div class="fullwidth-section bg-secondary-dark">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="weight-300 color-white text-center" style="margin-bottom: 40px">
				A few <strong>statistics on us</strong></h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 text-center">
				<span class="counter" data-end-count="46" data-speed="2500">0</span>
				<h4 class="color-white">Service Projects Completed</h4>
			</div>
			<div class="col-md-4 text-center">
				<span class="counter" data-end-count="102" data-speed="2500">0</span>
				<h4 class="color-white">Club Members</h4>
			</div>
			<div class="col-md-4 text-center">
				<span class="counter" data-end-count="10000" data-speed="2500">0</span>
				<h4 class="color-white">Donations Raised</h4>
			</div>
		</div>
	</div>
</div>
</section>
<!-- ============================================ -->
<!-- ============== END SERVICES SECTION ============ -->
<!-- ============================================ -->
<!-- ============================================ -->
<!-- ============= START PRICING SECTION ============ -->
<!-- ============================================ -->
<section id="pricing">
<div class="fullwidth-section" style="background-color: #F5F5F5">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="weight-300" style="margin-bottom: 40px">Club Dues, and Other Costs</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="pricing-table-header">
					QUARTERLY CLUB DUES
					<div class="pricing-table-price">
						<i class="fa fa-usd"></i>110<span class="pricing-table-decimal">.00</span></div>
				</div>
				<ul class="pricing-table-features">
					<li>Full Rotarian Status </li>
					<li>Access to All Club Benefits </li>
					<!-- <li><i class="fa fa-check color-primary"></i>Feature 1 </li>
					<li><i class="fa fa-check color-primary"></i>Feature 2 </li>
					<li><i class="fa fa-check color-primary"></i>Feature 3 </li>
					<li><i class="fa fa-check color-primary"></i>Feature 4 </li>
					<li><i class="fa fa-star" style="color: #FFD100"></i>
					<i class="fa fa-star" style="color: #FFD100"></i>
					<i class="fa fa-star-half-full" style="color: #FFD100"></i>
					<i class="fa fa-star-o" style="color: #FFD100"></i>
					<i class="fa fa-star-o" style="color: #FFD100"></i></li> -->
					<li><a ui-sref="register">APPLY NOW <i class="fa fa-share"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
</section>
<!-- ============================================ -->
<!-- =============== END PRICING SECTION ============ -->
<!-- ============================================ -->
<!-- ============================================ -->
<!-- ============== START CONTACT SECTION ============ -->
<!-- ============================================ -->
	<section id="contact">
	<div class="fullwidth-section" style="background-image: url(img/pictures/photo.png);">
		<div class="img-overlay3" style="background-color: rgba(47,54,64,0.65)">
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h1 class="weight-300 color-white" style="margin-bottom: 40px">
					Have a <strong>Question</strong>?</h1>
				</div>
			</div>
			<form id="formID" method="post" action="contact-mailform.php" data-parsley-validate="" role="form">
				<div class="row">
					<div class="col-md-4 col-md-offset-2">
						<div class="form-group">
							<label>Tell us your name</label>
							<input class="form-control" name="name" placeholder="" required="" type="text" />
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label>What&#39;s your email address?</label>
							<input class="form-control" data-parsley-trigger="change" name="email" placeholder="" required="" type="email" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<div class="form-group">
							<label>Subject</label>
							<input class="form-control" placeholder="" name="subject" type="text" />
						</div>
						<div class="form-group">
							<label>Give us the details</label>
							<textarea class="form-control" placeholder="" name="message" required="" rows="8"></textarea>
						</div>
						<div class="text-center">
							<button class="btn btn-outline" type="submit">Send Message
							</button></div>
					</div>
				</div>
			</form>
		</div>
</div>
</section>
<!-- ============================================ -->
<!-- ============== END CONTACT SECTION ============ -->
<!-- ============================================ -->
<!-- ================================================== -->
<!-- =============== START FOOTER SECTION ================ -->
<!-- ================================================== -->
<div class="footer fullwidth-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="cre-animate" data-animation="scale-up" data-delay="250" data-easing="easeInOutBack" data-offset="90%" data-speed="750">
					<h1 class="color-white weight-300 kill-top-margin" style="margin-bottom: 40px; font-size: 50px">
					<strong>GLOBAL BRIDGES ROTARY CLUB</strong></h1>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 text-center footer-contact-info">
				<span class="cre-animate" data-animation="slide-in-from-right" data-delay="750" data-easing="easeInOutBack" data-offset="90%" data-speed="750" style="margin-right: 15px;">
				<i class="im-mobile"></i> 555 555 5555</span>
				<span class="cre-animate" data-animation="slide-in-from-right" data-delay="1250" data-easing="easeInOutBack" data-offset="90%" data-speed="750" style="margin-right: 15px;">
				<i class="im-location"></i> Seoul, South Korea</span>
				<span class="cre-animate" data-animation="slide-in-from-right" data-delay="1750" data-easing="easeInOutBack" data-offset="90%" data-speed="750">
				<i class="im-facebook"></i><i class="im-linkedin"></i></span>
				</div>
		</div>
	</div>
</div>
<div class="footer-bottom">
	<div class="row">
	</div>
</div>
<div class="scrollup">
	<a data-scroll href="#home"><i class="fa fa-chevron-up"></i></a></div>
</div>
