<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Weekly Meetings</h1>
</div>
<div class="wrapper-md">
  <div class="row">
    <div class="col-sm-9">
      <div class="blog-post">                   
        <div class="panel" ng-repeat="post in posts">
          <div>
            <img src="img/c0.jpg" class="img-full">
          </div>
          <div class="wrapper-lg">
            <h2 class="m-t-none"><a href>{{ post.text.title }}</a></h2>
            <div>
              <p>{{ post.text.markdown }}</p>
            </div>
            <div class="line line-lg b-b b-light"></div>
            <div class="text-muted">
              <i class="fa fa-user text-muted"></i> by <a href class="m-r-sm">Admin</a>
              <i class="fa fa-clock-o text-muted"></i> {{ post.text.created | date }}
            </div>
          </div>
        </div>
      </div>
<!--       <div class="text-center m-t-lg m-b-lg">
        <ul class="pagination pagination-md">
          <li><a href><i class="fa fa-chevron-left"></i></a></li>
          <li class="active"><a href>1</a></li>
          <li><a href>2</a></li>
          <li><a href>3</a></li>
          <li><a href>4</a></li>
          <li><a href>5</a></li>
          <li><a href><i class="fa fa-chevron-right"></i></a></li>
        </ul>
      </div> -->
      <h4 class="m-t-lg m-b"> Comments</h4>
        <div ng-repeat="comment in comments">
            <div>
              <a class="pull-left thumb-sm">
                <img src="img/a0.jpg" class="img-circle">
              </a>
              <div class="m-l-xxl m-b">
                <div>
                  <a href><strong>{{ comment.username }}</strong></a> 
                </div>
                <div class="m-t-sm">{{ comment.text }}</div>
              </div>
            </div>
          </div>
          <h4 class="m-t-lg m-b">Leave a comment</h4>
          <form name="newCommentForm">
            <div class="form-group">
              <label>Comment</label>
              <textarea ng-model="newCommentText" class="form-control" rows="5" placeholder="Type your comment" required></textarea>
            </div>
            <div class="form-group">
              <button ng-disabled="newCommentForm.$invalid" ng-click="createComment(user.username, newCommentText)" class="btn btn-success">Submit comment</button>
            </div>
          </form>
    </div>
    <div class="col-sm-3">
      <h5 class="font-bold">Recent Club Meetings</h5>
      <div>
        <div class="media m-t-none" ng-repeat="post in posts">
          <a class="pull-left thumb thumb-wrapper m-t-xs">
            <img src="img/b1.jpg">
          </a>
          <div class="media-body">                        
            <a href class="font-semibold"> {{ post.text.title }}</a>
            <div class="text-xs block m-t-xs">{{ post.text.created | date }}</div>
          </div>
        </div>
        <div class="line"></div>
      </div>
    </div>
  </div>
</div>