<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Compose Thread</h1>
</div>
<div>
  <div class="wrapper">
    <form name="newTaskForm" class="form-horizontal m-t-lg">
      <div class="form-group">
        <label class="col-lg-2 control-label">Thread Title</label>
        <div class="col-lg-8">
          <input type="text" class="form-control" ng-model="newTaskTitle">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label">Thread Text</label>
        <div class="col-lg-8">
          <textarea type="text" rows="5" class="form-control" ng-model="newTaskText"></textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-8 col-lg-offset-2">
          <button ng-disabled="newTaskForm.$invalid" ng-click="createTask(user.username, newTaskTitle, newTaskText)" class="btn btn-sm btn-danger w-xs font-bold">Add Task</button>
        </div>
      </div>
    </form>
  </div>
</div>



<!-- <section>
                <button class="btn btn-primary btn-sm" ng-click="showForm=true" style="margin-top: -5px;" ng-hide="showForm">Create New Task</button>
                <br>
                <form data-ng-submit="add()" class="add-task" ng-show="showForm">
                    <div class="form-inline">
                      <div class="form-group">
                      <input type="text"
                             placeholder="Task Title"
                             class="form-control form-group"
                             data-ng-model="newTask"
                             autofocus>
                      </div>
                      <div class="form-group">
                        <div class="btn-group dropdown">
                          <button class="btn btn-primary dropdown-toggle">Assign <span class="caret"></span></button>
                          <ul class="dropdown-menu">
                            <li><a href>Jeremy Kim</a></li>
                            <li class="divider"></li>
                            <li><a href>Mike Park</a></li>
                            <li class="divider"></li>
                            <li><a href>Dan Conger</a></li>
                          </ul>
                        </div>
                        <label class="sr-only" for="exampleInputPassword2">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
                      </div>
                    </div>
                    <button class="btn btn-primary btn-sm" style="margin-top: 10px;">Add Task</button>
                </form>
                </section> -->