<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Registration</h1>
</div>
<div class="wrapper-md">
  <div class="row">
    <form name="form" class="form-horizontal form-validation" data-ng-submit="register()">
    <div class="panel panel-default">
    <div class="panel-heading font-bold">
      Registration Form
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label class="col-sm-2 control-label">Full Name</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" placeholder="Full Name" data-ng-model="user.fullname" required >    
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Username</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" placeholder="Username" data-ng-model="user.username" required >    
            </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Password</label>
          <div class="col-sm-8">
            <input type="password" class="form-control" name="password" data-ng-model="user.password" required >   
          </div>
        </div>
        <!-- <div class="form-group">
          <label class="col-sm-2 control-label">Confirm Password</label>
          <div class="col-sm-8">
            <input type="password" class="form-control" name="confirm_password" required data-ng-model="user.confirm_password" ui-validate=" '$value==password' " ui-validate-watch=" 'password' ">
            <span ng-show='form.confirm_password.$error.validator'>Passwords do not match!</span>
          </div>
        </div> -->
        <div class="form-group">
            <label class="col-sm-2 control-label">Email</label>
            <div class="col-sm-8">
              <input type="email" class="form-control" placeholder="Email" data-ng-model="user.email" required >    
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Birthday</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" placeholder="YYYY-MM-DD" data-ng-model="user.birthday" ng-pattern="/[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])$/" required >    
            </div>
        </div>
        <!-- <div class="form-group">
            <label class="col-sm-2 control-label">Phone</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="(XXX) XXXX XXX" data-ng-model="user.phone" ng-pattern="/\([0-9]{3}\) ([0-9]{3}) ([0-9]{3})$/" required >
            </div>
        </div> -->
        <div class="form-group">
            <label class="col-sm-2 control-label">Address</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" placeholder="Address" ng-model="user.address" required >    
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Address 2</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" placeholder="Apt" ng-model="user.address2" required >    
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">City</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" placeholder="City" ng-model="user.city" required >    
            </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">State</label>
          <div class="col-sm-10">
            <select ui-jq="chosen" style="width:260px" data-ng-model="user.state">
                <optgroup label="Not Applicable">
                    <option value="N/A">N/A</option>
                </optgroup>
                <optgroup label="Alaskan/Hawaiian Time Zone">
                    <option value="AK">Alaska</option>
                    <option value="HI">Hawaii</option>
                </optgroup>
                <optgroup label="Pacific Time Zone">
                    <option value="CA">California</option>
                    <option value="NV">Nevada</option>
                    <option value="OR">Oregon</option>
                    <option value="WA">Washington</option>
                </optgroup>
                <optgroup label="Mountain Time Zone">
                    <option value="AZ">Arizona</option>
                    <option value="CO">Colorado</option>
                    <option value="ID">Idaho</option>
                    <option value="MT">Montana</option>
                    <option value="NE">Nebraska</option>
                    <option value="NM">New Mexico</option>
                    <option value="ND">North Dakota</option>
                    <option value="UT">Utah</option>
                    <option value="WY">Wyoming</option>
                </optgroup>
                <optgroup label="Central Time Zone">
                    <option value="AL">Alabama</option>
                    <option value="AR">Arkansas</option>
                    <option value="IL">Illinois</option>
                    <option value="IA">Iowa</option>
                    <option value="KS">Kansas</option>
                    <option value="KY">Kentucky</option>
                    <option value="LA">Louisiana</option>
                    <option value="MN">Minnesota</option>
                    <option value="MS">Mississippi</option>
                    <option value="MO">Missouri</option>
                    <option value="OK">Oklahoma</option>
                    <option value="SD">South Dakota</option>
                    <option value="TX">Texas</option>
                    <option value="TN">Tennessee</option>
                    <option value="WI">Wisconsin</option>
                </optgroup>
                <optgroup label="Eastern Time Zone">
                    <option value="CT">Connecticut</option>
                    <option value="DE">Delaware</option>
                    <option value="FL">Florida</option>
                    <option value="GA">Georgia</option>
                    <option value="IN">Indiana</option>
                    <option value="ME">Maine</option>
                    <option value="MD">Maryland</option>
                    <option value="MA">Massachusetts</option>
                    <option value="MI">Michigan</option>
                    <option value="NH">New Hampshire</option>
                    <option value="NJ">New Jersey</option>
                    <option value="NY">New York</option>
                    <option value="NC">North Carolina</option>
                    <option value="OH">Ohio</option>
                    <option value="PA">Pennsylvania</option>
                    <option value="RI">Rhode Island</option>
                    <option value="SC">South Carolina</option>
                    <option value="VT">Vermont</option>
                    <option value="VA">Virginia</option>
                    <option value="WV">West Virginia</option>
                </optgroup>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Country</label>
          <div class="col-sm-10">
            <select ui-jq="chosen" style="width:260px" data-ng-model="user.country">
                <option value="SK">South Korea</option>
                <option value="USA">United States of America</option>
            </select>
          </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Company</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" placeholder="Company" ng-model="user.company" required >    
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Position</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" placeholder="Position" ng-model="user.position" required >    
            </div>
        </div>
        <div class="checkbox">
          <label class="col-sm-2 i-checks"></label>
          <div class="col-sm-8">
            <input type="checkbox" ng-model="agree" required><i></i> I agree to the <a href class="text-info">Terms of Service</a>
          </div>
        </div>
      </div>
      <footer class="panel-footer text-right bg-light lter">
        <button type="submit" class="btn btn-success" ng-disabled="!user.password">Sign Up</button>
      </footer>
    </div>
    </form>
  </div>
</div>
    
        