<div class="hbox hbox-auto-xs hbox-auto-sm">
  <div class="col">
    <div style="background:url(img/c4.jpg) center center; background-size:cover">
      <div class="wrapper-lg bg-white-opacity">
        <div class="row m-t">
          <div class="col-sm-7">
            <a href class="thumb-lg pull-left m-r">
              <img src="img/a0.jpg" class="img-circle">
            </a>
            <div class="clear m-b">
              <div class="m-b m-t-sm">
                <span class="h3 text-black">{{ user.username }}</span>
                <small class="m-l">Salt Lake City</small>
              </div>
              <p class="m-b">
                <button class="btn btn-sm btn-bg btn-rounded btn-default btn-icon" ng-click="connectButton()"><i class="fa fa-twitter"></i></button>
                <a href class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-facebook"></i></a>
                <a href class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-linkedin"></i></a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper bg-white b-b">
      <ul class="nav nav-pills nav-sm" ng-show="user">
        <li class="active"><a ui-sref="secure.editprofile">Edit Profile</a></li>
      </ul>
    </div>
    <br>
    <div class="row">
      <div class="padder">
       <div class="col-sm-12">
        <div class="panel b-a">
          <h4 class="font-thin padder">{{ user.username }}'s Latest Tweets</h4>
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="t in tweets | limitTo: 5">
                <!-- <div class="col-xs-2 col-sm-1">
                    <img ng-src="{{t.user.profile_image_url}}" class="img-circle pull-left thumb-sm">
                </div> -->
                <p>{{t.text}}<a href class="text-info"> @{{t.user.name}}</a></p>
                <!-- <small class="block text-muted"><i class="fa fa-fw fa-clock-o"></i> 2 minuts ago</small> -->
            </li>
          </ul>
        </div>
        <div class="panel b-light clearfix">
          <div class="panel-body">
            <a href class="thumb pull-left m-r">
              <img src="img/a0.jpg" class="img-circle">
            </a>
            <div class="clear">
              <a href class="text-info">@dconger2 <i class="fa fa-twitter"></i></a>
              <small class="block text-muted">2,415 followers / 225 tweets</small>
              <a href class="btn btn-xs btn-success m-t-xs">Follow</a>
            </div>
          </div>
        </div>
       </div>
      </div>
    </div>
  </div>
  <div class="col w-lg bg-light lter b-l bg-auto bg-auto-right">
    <div class="wrapper">
      <div class="">
        <h4 class="m-t-xs m-b-xs">Who to follow</h4>
        <ul class="list-group no-bg no-borders pull-in">
          <li class="list-group-item" ng-repeat="member in members">
            <a herf class="pull-left thumb-sm avatar m-r">
              <img src="img/a4.jpg" alt="..." class="img-circle">
              <i class="on b-white bottom"></i>
            </a>
            <div class="clear">
              <div><a href>{{member.username}}</a></div>
              <small class="text-muted">Doctor</small>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>