<div class="hbox hbox-auto-xs hbox-auto-sm">
  <div class="col">
    <div style="background:url(img/c4.jpg) center center; background-size:cover">
      <div class="wrapper-lg bg-white-opacity">
        <div class="row m-t">
          <div class="col-sm-7">
            <a href class="thumb-lg pull-left m-r">
              <img src="img/a0.jpg" class="img-circle">
            </a>
            <div class="clear m-b">
              <div class="m-b m-t-sm">
                <span class="h3 text-black">{{ user.username }}</span>
                <small class="m-l">Salt Lake City</small>
              </div>
              <p class="m-b">
                <a href class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-twitter"></i></a>
                <a href class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-facebook"></i></a>
                <a href class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-linkedin"></i></a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper bg-white b-b">
      <ul class="nav nav-pills nav-sm">
        <li class="active"><a href>Profile</a></li>
      </ul>
    </div>
    <br>
    <div class="row">
      <div class="padder">
        <div class="col-sm-12">
          <div class="list-group">
            <a href class="list-group-item">
              <span class="badge badge-empty">201</span>
              <i class="fa fa-envelope fa-fw m-r-xs"></i> Inbox
            </a>
            <a href class="list-group-item">
              <span class="badge bg-info">5021</span>
              <i class="fa fa-eye fa-fw m-r-xs"></i> Profile visits
            </a>
            <a href class="list-group-item">
              <i class="fa fa-chevron-right text-muted"></i>
              <span class="badge bg-success">14</span>
              <i class="fa fa-phone fa-fw m-r-xs"></i> Call
            </a>
            <a href class="list-group-item">
              <span class="badge bg-dark">20</span>
              <i class="fa fa-comments-o fa-fw m-r-xs"></i> Messages
            </a>
            <a href class="list-group-item">
              <span class="badge bg-warning">14</span>
              <i class="fa fa-bookmark fa-fw m-r-xs"></i> Bookmarks
            </a>
            <a href class="list-group-item">
              <span class="badge bg-info">30</span>
              <i class="fa fa-bell fa-fw m-r-xs"></i> Notifications
            </a>
            <a href class="list-group-item">
              <span class="badge bg-danger">10</span>
              <i class="fa fa-clock-o fa-fw m-r-xs"></i> Watch
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col w-lg bg-light lter b-l bg-auto bg-auto-right">
    <div class="wrapper">
      <div class="">
        <h4 class="m-t-xs m-b-xs">Who to follow</h4>
        <ul class="list-group no-bg no-borders pull-in">
          <li class="list-group-item">
            <a herf class="pull-left thumb-sm avatar m-r">
              <img src="img/a4.jpg" alt="..." class="img-circle">
              <i class="on b-white bottom"></i>
            </a>
            <div class="clear">
              <div><a href>Chris Park</a></div>
              <small class="text-muted">Doctor</small>
            </div>
          </li>
          <li class="list-group-item">
            <a herf class="pull-left thumb-sm avatar m-r">
              <img src="img/a5.jpg" alt="..." class="img-circle">
              <i class="on b-white bottom"></i>
            </a>
            <div class="clear">
              <div><a href>Megan Park</a></div>
              <small class="text-muted">Writter</small>
            </div>
          </li>
          <li class="list-group-item">
            <a herf class="pull-left thumb-sm avatar m-r">
              <img src="img/a6.jpg" alt="..." class="img-circle">
              <i class="busy b-white bottom"></i>
            </a>
            <div class="clear">
              <div><a href>Joey Kim</a></div>
              <small class="text-muted">Lawyer</small>
            </div>
          </li>
          <li class="list-group-item">
            <a herf class="pull-left thumb-sm avatar m-r">
              <img src="img/a7.jpg" alt="..." class="img-circle">
              <i class="away b-white bottom"></i>
            </a>
            <div class="clear">
              <div><a href>Chris Sims</a></div>
              <small class="text-muted">Business Owner</small>
            </div>
          </li>
        </ul>
      </div>
      <div class="panel b-a">
        <h4 class="font-thin padder">Latest Tweets</h4>
        <ul class="list-group">
          <li class="list-group-item">
              <p>Lorem ipsum dolor <a href class="text-info">@Drew</a></p>
              <small class="block text-muted"><i class="fa fa-fw fa-clock-o"></i> 2 minuts ago</small>
          </li>
          <li class="list-group-item">
              <p>Morbi nec <a href class="text-info">@Jonathan George</a> nunc condimentum ipsum dolor sit amet, consectetur</p>
              <small class="block text-muted"><i class="fa fa-fw fa-clock-o"></i> 1 hour ago</small>
          </li>
          <li class="list-group-item">                     
              <p><a href class="text-info">@Josh Long</a> Vestibulum ullamcorper sodales nisi nec adipiscing elit. Morbi id neque quam. Aliquam sollicitudin venenatis</p>
              <small class="block text-muted"><i class="fa fa-fw fa-clock-o"></i> 2 hours ago</small>
          </li>
        </ul>
      </div>
      <div class="panel b-light clearfix">
        <div class="panel-body">
          <a href class="thumb pull-left m-r">
            <img src="img/a0.jpg" class="img-circle">
          </a>
          <div class="clear">
            <a href class="text-info">@dconger2 <i class="fa fa-twitter"></i></a>
            <small class="block text-muted">2,415 followers / 225 tweets</small>
            <a href class="btn btn-xs btn-success m-t-xs">Follow</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>