<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3"><i class="icon-magnifier i-sm m-r-sm"></i> Search</h1>
</div>
<div class="wrapper-md">
  <form action="#" class="m-b-md">
    <div class="input-group">
      <input type="text" class="form-control input-lg" placeholder="Type keyword" ng-model="query">
      <span class="input-group-btn">
        <button class="btn btn-lg btn-default" type="button">Search</button>
      </span>
    </div>
  </form>
  <tabset class="tab-container">
    <tab>
      <tab-heading>
        Users <span class="badge bg-danger badge-sm m-l-xs">{{members.length}}</span>
      </tab-heading>
      <ul class="list-group list-group-alt list-group-lg no-borders pull-in m-b-none">
        <li class="list-group-item" ng-repeat="member in members | filter:query">
          <a href="#" class="pull-left thumb-md m-r">
            <img src="img/a0.jpg" alt="..." class="img-circle">
          </a>
          <div class="clear">
            <a ng-click="viewMember(member)" class="h4 text-primary m-b-sm block">{{member.username}}</a>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin egestas dui nec, fermentum diam. Vivamus vel tincidunt libero</div>
          </div>
        </li>
      </ul>
    </tab>
  </tabset>
</div>